In [1]:
#Loading Libraries
import pandas as pd
import numpy as np
import requests
import io
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Downloading the csv file from your GitHub account
url = "https://raw.githubusercontent.com/bgpayne23/mirahealth/main/datasets/mira_data_v2.csv" # Make sure the url is the raw version of the file on GitHub
download = requests.get(url).content
# Reading the downloaded content and turning it into a pandas dataframe
df = pd.read_csv(io.StringIO(download.decode('utf-8')))
# Printing out the first 5 rows of the dataframe
df.drop(['Unnamed: 0'], axis=1, inplace=True)
datatypes = df.dtypes
datatypes

obgyn_Location           object
obgyn_AvgPatientTime      int64
obgyn_NumOfPatients       int64
obgyn_QualityRisk         int64
obgyn_TotalHours          int64
obgyn_BurnoutRisk         int64
Age                       int64
Ethnicity                object
Payer                    object
Location                 object
Income                   object
SystolicBP                int64
DiastolicBP               int64
BS                      float64
BodyTemp                float64
HeartRate                 int64
HDP                       int64
dtype: object

In [3]:
#place objects in list
objects = list(df.select_dtypes(['object']).columns)
objects

['obgyn_Location', 'Ethnicity', 'Payer', 'Location', 'Income']

In [4]:
one_hot_cols = pd.get_dummies(df[objects])
one_hot_cols

,obgyn_Location_Metropolitan,obgyn_Location_Micropolitan,obgyn_Location_Rural,Ethnicity_Asian_Pacific,Ethnicity_Black,Ethnicity_Hispanic,Ethnicity_Native,Ethnicity_White,Payer_Private,Payer_Public,Payer_Uninsured,Location_Metropolitan,Location_Micropolitan,Location_Rural,Income_Q1,Income_Q2,Income_Q3,Income_Q4
0,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1
1,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0
2,0,0,1,0,0,0,0,1,1,0,0,1,0,0,0,0,0,1
3,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0
4,0,0,1,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2257,1,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0
2258,1,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,1
2259,1,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1
2260,1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1
2261,1,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,1

In [5]:
#Redo the dataset
df.drop(objects, axis=1, inplace=True)
result = pd.concat([df, one_hot_cols], axis=1, join='inner')
display(result)

,obgyn_AvgPatientTime,obgyn_NumOfPatients,obgyn_QualityRisk,obgyn_TotalHours,obgyn_BurnoutRisk,Age,SystolicBP,DiastolicBP,BS,BodyTemp,...,Payer_Private,Payer_Public,Payer_Uninsured,Location_Metropolitan,Location_Micropolitan,Location_Rural,Income_Q1,Income_Q2,Income_Q3,Income_Q4
0,21,16,0,336,0,18,120,90,6.1,98.0,...,0,0,1,0,0,1,0,0,0,1
1,11,30,1,330,0,17,120,80,7.5,98.0,...,0,1,0,0,0,1,0,0,1,0
2,13,18,1,234,0,20,120,80,6.9,102.0,...,1,0,0,1,0,0,0,0,0,1
3,13,21,1,273,0,31,140,95,19.0,98.0,...,0,1,0,0,0,1,0,1,0,0
4,14,26,0,364,1,20,120,85,15.0,98.0,...,0,1,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2257,18,27,0,486,1,17,120,90,15.0,98.0,...,0,1,0,1,0,0,1,0,0,0
2258,18,23,0,414,1,38,120,80,11.0,98.0,...,0,0,1,1,0,0,0,0,0,1
2259,11,30,1,330,0,36,120,95,11.0,98.0,...,0,1,0,0,0,1,0,0,0,1
2260,21,16,0,336,0,39,100,65,7.5,98.0,...,1,0,0,1,0,0,0,0,0,1
2261,9,22,1,198,0,21,120,90,6.9,98.0,...,0,1,0,1,0,0,0,0,0,1

In [6]:
#Save as the new training dataset
result.to_csv('mira_data_one_hot.csv')

In [7]:
list(result.columns)

['obgyn_AvgPatientTime',
 'obgyn_NumOfPatients',
 'obgyn_QualityRisk',
 'obgyn_TotalHours',
 'obgyn_BurnoutRisk',
 'Age',
 'SystolicBP',
 'DiastolicBP',
 'BS',
 'BodyTemp',
 'HeartRate',
 'HDP',
 'obgyn_Location_Metropolitan',
 'obgyn_Location_Micropolitan',
 'obgyn_Location_Rural',
 'Ethnicity_Asian_Pacific',
 'Ethnicity_Black',
 'Ethnicity_Hispanic',
 'Ethnicity_Native',
 'Ethnicity_White',
 'Payer_Private',
 'Payer_Public',
 'Payer_Uninsured',
 'Location_Metropolitan',
 'Location_Micropolitan',
 'Location_Rural',
 'Income_Q1',
 'Income_Q2',
 'Income_Q3',
 'Income_Q4']