In [1]:
#Import Libraries
import pandas as pd
import requests
import io

In [4]:
# # Downloading the csv file from the GitHub account
# url = "http://localhost:8888/edit/Documents/GitHub/mirahealth/datasets/mira_data_one_hot.csv" # Make sure the url is the raw version of the file on GitHub
# download = requests.get(url).content
# Reading the downloaded content and turning it into a pandas dataframe
df = pd.read_csv('mira_data_one_hot.csv')
# Printing out the first 5 rows of the dataframe
df.drop('Unnamed: 0', inplace=True, axis=1)
df

,obgyn_AvgPatientTime,obgyn_NumOfPatients,obgyn_QualityRisk,obgyn_TotalHours,obgyn_BurnoutRisk,Age,SystolicBP,DiastolicBP,BS,BodyTemp,...,Payer_Public,Payer_Uninsured,Location_Metropolitan,Location_Micropolitan,Location_Rural,Income_Q1,Income_Q2,Income_Q3,Income_Q4,obgyn_sentiment
0,21,16,0,336,0,18,120,90,6.1,98.0,...,0,1,0,0,1,0,0,0,1,0
1,11,30,1,330,0,17,120,80,7.5,98.0,...,1,0,0,0,1,0,0,1,0,0
2,13,18,1,234,0,20,120,80,6.9,102.0,...,0,0,1,0,0,0,0,0,1,0
3,13,21,1,273,0,31,140,95,19.0,98.0,...,1,0,0,0,1,0,1,0,0,0
4,14,26,0,364,1,20,120,85,15.0,98.0,...,1,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2257,18,27,0,486,1,17,120,90,15.0,98.0,...,1,0,1,0,0,1,0,0,0,1
2258,18,23,0,414,1,38,120,80,11.0,98.0,...,0,1,1,0,0,0,0,0,1,1
2259,11,30,1,330,0,36,120,95,11.0,98.0,...,1,0,0,0,1,0,0,0,1,1
2260,21,16,0,336,0,39,100,65,7.5,98.0,...,0,0,1,0,0,0,0,0,1,1
2261,9,22,1,198,0,21,120,90,6.9,98.0,...,1,0,1,0,0,0,0,0,1,1

In [9]:
# shuffle the DataFrame rows
df = df.sample(frac = 1, ignore_index=True)
df

,obgyn_AvgPatientTime,obgyn_NumOfPatients,obgyn_QualityRisk,obgyn_TotalHours,obgyn_BurnoutRisk,Age,SystolicBP,DiastolicBP,BS,BodyTemp,...,Payer_Public,Payer_Uninsured,Location_Metropolitan,Location_Micropolitan,Location_Rural,Income_Q1,Income_Q2,Income_Q3,Income_Q4,obgyn_sentiment
0,21,16,0,336,0,27,120,80,7.8,98.0,...,0,0,1,0,0,0,0,0,1,1
1,14,27,0,378,1,35,140,80,6.7,98.0,...,0,0,0,0,1,0,0,1,0,0
2,23,29,0,667,1,26,120,60,6.1,98.0,...,1,0,1,0,0,0,0,0,1,0
3,22,30,0,660,1,39,120,95,7.8,98.0,...,0,0,0,1,0,0,0,0,1,1
4,18,29,0,522,1,30,130,100,16.0,98.0,...,0,0,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2257,19,22,0,418,1,31,120,90,6.8,98.0,...,0,0,1,0,0,0,1,0,0,1
2258,13,29,1,377,1,26,120,75,7.7,98.0,...,0,1,0,0,1,0,0,0,1,0
2259,21,26,0,546,1,29,120,90,7.5,98.0,...,0,0,0,1,0,0,0,1,0,1
2260,13,27,1,351,1,38,140,100,15.0,98.0,...,0,0,1,0,0,0,0,0,1,0
2261,11,21,1,231,0,19,120,80,7.8,98.0,...,0,0,0,1,0,0,0,0,1,1

In [10]:
#split dataset in features and target variable
feature_cols = df.columns.values.tolist()
feature_cols.remove('HDP')
X = df[feature_cols] # Features
y = df.HDP # Target variable

In [11]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=16)

In [12]:
# import the class
from sklearn.linear_model import LogisticRegression
# instantiate the model (using the default parameters)
logreg = LogisticRegression()
# fit the model with data
logreg.fit(X_train, y_train)

/Users/brianp/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [13]:
#Score the Accuracy of the model
from sklearn.metrics import accuracy_score
y_pred = logreg.predict(X_test)
score =accuracy_score(y_test,y_pred)
print('Test Accuracy Score: ', score)

Test Accuracy Score:  0.9240282685512368

In [14]:
#Printing Test Set as a Reference
y_test.values.tolist()
X_test["HDP"]=y_test

In [15]:
X_test.to_csv('test_set.csv')

In [16]:
#Save the persistent model
from joblib import dump, load
dump(logreg, '/Users/brianp/Documents/GitHub/mirahealth/mirahealth_api/mirahealth_v1_0.joblib')

['/Users/brianp/Documents/GitHub/mirahealth/mirahealth_api/mirahealth_v1_0.joblib']

In [79]:
#Now I want to test the model
input = pd.DataFrame(X_test.iloc[110])
input = input.drop('HDP')
input = input.transpose()
input

,obgyn_AvgPatientTime,obgyn_NumOfPatients,obgyn_QualityRisk,obgyn_TotalHours,obgyn_BurnoutRisk,Age,SystolicBP,DiastolicBP,BS,BodyTemp,...,Payer_Public,Payer_Uninsured,Location_Metropolitan,Location_Micropolitan,Location_Rural,Income_Q1,Income_Q2,Income_Q3,Income_Q4,obgyn_sentiment
1910,10.0,15.0,1.0,150.0,0.0,15.0,140.0,100.0,15.0,98.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [80]:
y_output = logreg.predict(input)
y_output

array([1])